@model List<real_estate_app.Models.GetAPStateCity_Result>
@{
    Layout = null;
    
 }
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Real Estate App - Search Demo</title>
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="../../Content/themes/metro/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/font-awesome.min.css" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="../../Content/themes/metro/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/chosen.css" />
		<!-- fonts -->
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/ace-fonts.css" />
		<!-- ace styles -->
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/ace.min.css" />
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="../../Content/themes/metro/assets/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="../../Content/themes/metro/assets/css/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
		
		<!--[if lte IE 8]>

		  <link rel="stylesheet" href="../../Content/themes/metro/assets/css/ace-ie.min.css" />
		<![endif]-->
		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../../Content/themes/metro/assets/js/ace-extra.min.js"></script>

        <!--money formatting-->
        <script src="../../Content/themes/metro/assets/js/accounting.min.js"></script>

		<!-- custom css to override theme for this page -->
		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/search.css" />
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="../../Content/themes/metro/assets/js/html5shiv.js"></script>
		<script src="../../Content/themes/metro/assets/js/respond.min.js"></script>
		<![endif]-->
		 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&address=philadelphia+pa&sensor=false"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js">
        </script><script type="text/javascript">
     	  var RealEstate = {};
     	  var map;
     	  var propertyList =[ @Html.Raw(ViewData["propertyList"]) ];


	      function initialize() {
	          var startLat;
	          var startLng;
	          var startZoom;

              // On GET, no properties in propertyList
	          if (!propertyList[0]) {
	              startLat = 39.778;
	              startLng = -75.591;
	              startZoom = 8;
	          }
	          else {
	              startLat = propertyList[2].lat;
	              startLng = propertyList[2].lng;
	              startZoom = 12;
	          }
	       var mapOptions = {
	              // center: new google.maps.LatLng(39.778, -75.591),
	              center: new google.maps.LatLng(startLat, startLng),
	              zoom: startZoom
	          };

	        map = new google.maps.Map(document.getElementById("map-canvas"),
	            mapOptions);
	        
	        var deleteShapeDiv = document.createElement('div');
	        deleteShapeDiv.className = 'delete-shape-div';
	        $(deleteShapeDiv).click(function() { RealEstate.deleteShape(); })

	        deleteShapeDiv.innerHTML = "<div class='delete-button'><span>Clear</span><div>";
	        map.controls[google.maps.ControlPosition.TOP_LEFT].push(deleteShapeDiv);

	       	var drawingManager = new google.maps.drawing.DrawingManager();
	      	drawingManager.setMap(map);
	      	drawingManager.setOptions({
  				  drawingControlOptions: {
    				position: google.maps.ControlPosition.TOP_LEFT,
    				drawingModes: [google.maps.drawing.OverlayType.POLYGON, google.maps.drawing.OverlayType.CIRCLE]
  				  },
  				    circleOptions: {
					    fillColor: '#ffff00',
					    fillOpacity: .2,
					    strokeWeight: 3,
					    clickable: false,
					    zIndex: 1,
					    editable: false
				  },
				  	polygonOptions: {
				  		fillColor: '#ffff00',
					    fillOpacity: .2,
					    strokeWeight: 3,
					    clickable: false,
					    zIndex: 1,
					    editable: false
				  	}
			});

			google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
				//clear current shape if one is present
				RealEstate.deleteShape();
				RealEstate.polygon1 = polygon;
				console.log(polygon);
			});

			google.maps.event.addListener(drawingManager, 'circlecomplete', function(circle) {
				RealEstate.deleteShape();
				RealEstate.circle1 = circle;
				console.log(circle.getRadius());
			});

			     // Add map markers
              /*
        var myLatlng = new google.maps.LatLng(39.9500,-75.1700);
     	var marker = new google.maps.Marker({
      		position: myLatlng,
      		map: map,
      		title: 'Philadelphia, PA'
     	});
            */

			google.maps.event.addListenerOnce(map, 'idle', function () {
			    // do something only the first time the map is loaded
			    showPropertiesFromCity();
			}); 


	   } // End Initialize()

	   RealEstate.deleteShape = function(){
  	 		if(RealEstate.polygon1)
					RealEstate.polygon1.setMap(null);
			if (RealEstate.circle1)
					RealEstate.circle1.setMap(null);
  	 	}

	      google.maps.event.addDomListener(window, 'load', initialize);


	    // Extend google.maps.Polygon to add Contains function to check if Lat/Lng point is inside
	    google.maps.Polygon.prototype.Contains = function(point) {
        // ray casting alogrithm http://rosettacode.org/wiki/Ray-casting_algorithm
        var crossings = 0,
            path = this.getPath();

        // for each edge
        for (var i=0; i < path.getLength(); i++) {
            var a = path.getAt(i),
                j = i + 1;
            if (j >= path.getLength()) {
                j = 0;
            }
            var b = path.getAt(j);
            if (rayCrossesSegment(point, a, b)) {
                crossings++;
            }
        }

        // odd number of crossings?
        return (crossings % 2 == 1);

        function rayCrossesSegment(point, a, b) {
            var px = point.lng(),
                py = point.lat(),
                ax = a.lng(),
                ay = a.lat(),
                bx = b.lng(),
                by = b.lat();
            if (ay > by) {
                ax = b.lng();
                ay = b.lat();
                bx = a.lng();
                by = a.lat();
            }
            // alter longitude to cater for 180 degree crossings
            if (px < 0) { px += 360 };
            if (ax < 0) { ax += 360 };
            if (bx < 0) { bx += 360 };

            if (py == ay || py == by) py += 0.00000001;
            if ((py > by || py < ay) || (px > Math.max(ax, bx))) return false;
            if (px < Math.min(ax, bx)) return true;

            var red = (ax != bx) ? ((by - ay) / (bx - ax)) : Infinity;
            var blue = (ax != px) ? ((py - ay) / (px - ax)) : Infinity;
            return (blue >= red);

        }

     };

	    var infoWindowsContents = [];

	    var showPropertiesFromCity = function () {

	        for (var i = 0; i < propertyList.length; i++) {
	          //  console.log(propertyList[i].lat);
	            var home = propertyList[i];

	            var myLatlng = new google.maps.LatLng(home.lat, home.lng);
	            var marker = new google.maps.Marker({
	                position: myLatlng,
	                map: map,
                   
	                title: ''
	            });

	            var infoWindowContent = document.createElement("div");
	            infoWindowContent.className = "bubble";
	            infoWindowContent.innerHTML = '<div class="hover-address">'+ home.address +'</div><span class="hover-price">'+accounting.formatMoney(home.price, "$" , "0")+'</span><img src="' + home.image + '" height="80" width="80" class="info-window-image" />\
                    <span class="results-property-info hover-window-info"><span class="property-spans"><span class="results-property-beds" style="padding-right:8px;margin-right:8px;">'
                   + home.beds + ' BEDS</span>\
                    <table class="details-table info-window"> \
                   <tbody><tr><td class="tl"><span class="tdspanl">SQ FT.<br>\
                   '+home.sqFt+'</span></td><td class="tr"><span class="tdspanr">ACRES<br> \
                   ' + home.acres + ' </span></td></tr><tr><td class="bl"><span class="tdspanl">BATHS<br> \
                   ' + home.baths + '</span></td><td class="br"><span class="tdspanr">YEARS<br>\
                   ' + home.yearBuilt + ' <br></span></td></tr></tbody></table></span></span>';

	            infoWindowsContents.push(infoWindowContent);

	            attachInfoWindow(marker,home, i);
	        }
	    }

	    function attachInfoWindow(marker, home, number) {

            /*
	        var myOptions = {
	            content: boxText
			, disableAutoPan: false
			, maxWidth: 0
			, pixelOffset: new google.maps.Size(-140, 0)
			, zIndex: null
			, boxStyle: {
			    background: "url('tipbox.gif') no-repeat"
			  , opacity: 0.75
			  , width: "280px"
			}
			, closeBoxMargin: "10px 2px 2px 2px"
			, closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
			, infoBoxClearance: new google.maps.Size(1, 1)
			, isHidden: false
			, pane: "floatPane"
			, enableEventPropagation: false
	        };
            */

	        // detect where the marker is on the map
	        // if closer than some number of pixels to each edge of map canvas, set 
	        // pixeloffset: 
	        // midpoints: height: 256 px
            //            width: 332 px
            // 

	        var pos = getPixelPosition(marker, map);
	        var offsetX = pos.x < 332 ? 30 : -294;
	        var offsetY = pos.y < 256 ? 100 : 20;

	        var bubbleClass;

	        if (offsetX == 30 && offsetY == 100)
	            bubbleClass = "bubbleq1";
	        else if (offsetX == 30 && offsetY == 20)
	            bubbleClass = "bubbleq3";
	        else if (offsetX == -294 && offsetY == 20)
	            bubbleClass = "bubbleq4";
	        else 
	            bubbleClass = "bubbleq2";


	        var infoWindow = new InfoBox({
	            content: infoWindowsContents[number],
	            boxClass: bubbleClass,
                closeBoxURL: "",
                disableAutoPan: true,
                alignBottom: true,
                pixelOffset: new google.maps.Size(offsetX, offsetY)

	        });

            
	        google.maps.event.addListener(marker, "mouseover", function () {
	            infoWindow.open(map, marker);
	            debugMarker = marker;
	        });

	        //set hover listener for each .results-property
	        $('.results-property').hover();
                
	        $("#"+home.listingID).mouseover(function () {
	               infoWindow.open(map, marker);
	        });

	        google.maps.event.addListener(marker, "mouseout", function () {
	            infoWindow.close();
	        });

	        $("#" + home.listingID).mouseout(function () {
	            infoWindow.close();
	        });
	        // infoWindow.open(map, marker);


	    }




	    var debugMarker;


	    </script>

	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-home"></i>
							Real Estate App
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>








<div class="tabbable blue-bg">
<ul class="nav nav-tabs" id="search-results-tabs">
    <li @if (Model == null) { <text>class="active" </text>  }>
        <a data-toggle="tab" href="#search-tab" id="search-tab-link">
            <!--<i class="green icon-home bigger-110"></i>-->
            Search
        </a>
    </li>
    <li @if (Model != null) { <text> class="active" </text> }>
        <a data-toggle="tab" href="#results-tab" id="results-tab-link">
            Results
        </a>
    </li>
</ul>
<div class="tab-content" id="search-tab-content">
    <div class="tab-pane @if (Model == null) { <text>active </text> }" id="search-tab">
        <div id="advanced-search-content" class="hidden-advanced-content expose">
            <!--<div id="advanced-search-header" class="linearbg">
            </div>-->

            <div class="tabbable" id="advanced-search-tabs">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#city">
                            <!--<i class="green icon-home bigger-110"></i>-->
                            City/County
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#zip">
                            Address/Zip
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#school">
                            School District
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#county">
                            County/Township
                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div id="city" class="tab-pane active">
                        <div class="inner-tab-content">
                            <form action="/" method="post">
                                State:
                                <select id="select-state">
                                    <option value="PA">PA</option>
                                    <option value="NJ">NJ</option>
                                    <option value="DE">DE</option>
                                </select>

                                <span style="margin-left:42px;"></span>County:
                                <select id="select-county">
                                    <option value="all">All</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="OTHER">OTHER</option>
                                    <option value="OTHER">OTHER</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="OTHER">OTHER</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="OTHER">OTHER</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LACKAWANNA">LACKAWANNA</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LACKAWANNA">LACKAWANNA</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="LACKAWANNA">LACKAWANNA</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="OTHER">OTHER</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="LUZERNE">LUZERNE</option>
                                    <option value="PIKE">PIKE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="CARBON">CARBON</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="MONROE">MONROE</option>
                                    <option value="NORTHAMPTON">NORTHAMPTON</option>
                                    <option value="WAYNE">WAYNE</option>
                                    <option value="MONROE">MONROE</option>

                                </select><br>
                                <div class="multi-select-cities">
                                    Cities:<br>
                                    <select multiple="multiple" class="w120 inl-block select-cities expose" name="cities-select-from" id="cities-select-from">
                                        <option value="POCONO LAKE">POCONO LAKE</option>
                                        <option value="DINGSMAN FERRY">DINGSMAN FERRY</option>
                                        <option value="MOUNT BETHEL">MOUNT BETHEL</option>
                                        <option value="BEAR CREEK">BEAR CREEK</option>
                                        <option value="LACAWAXEN">LACAWAXEN</option>
                                        <option value="BETHLEHEM">BETHLEHEM</option>
                                        <option value="BIRDSBORO">BIRDSBORO</option>
                                        <option value="EASTON">EASTON</option>
                                        <option value="CANADENSIS">CANADENSIS</option>
                                        <option value="NANTICOKE">NANTICOKE</option>
                                        <option value="MOUNT POCONO">MOUNT POCONO</option>
                                        <option value="JIM THORPE">JIM THORPE</option>
                                        <option value="BUSHKILL">BUSHKILL</option>
                                        <option value="KUNKLETOWN">KUNKLETOWN</option>
                                        <option value="POCONO SUMMIT">POCONO SUMMIT</option>
                                        <option value="HAWLEY">HAWLEY</option>
                                        <option value="DELAWARE WATER GAP">DELAWARE WATER GAP</option>
                                        <option value="MILFORD">MILFORD</option>
                                        <option value="MILROY">MILROY</option>
                                        <option value="ALBRIGHTSVILLE">ALBRIGHTSVILLE</option>
                                        <option value="WIND GAP">WIND GAP</option>
                                        <option value="LAKE ARIEL">LAKE ARIEL</option>
                                        <option value="BANGOR">BANGOR</option>
                                        <option value="WEATHERLY">WEATHERLY</option>
                                        <option value="MARSHALLS CREEK">MARSHALLS CREEK</option>
                                        <option value="SCIOTA">SCIOTA</option>
                                        <option value="TOBYHANNA">TOBYHANNA</option>
                                        <option value="BRODHEADSVILLE">BRODHEADSVILLE</option>
                                        <option value="CANADENSIS">CANADENSIS</option>
                                        <option value="SAYLORSBURG">SAYLORSBURG</option>
                                        <option value="NESQUEHONING">NESQUEHONING</option>
                                        <option value="POCONO MANOR">POCONO MANOR</option>
                                        <option value="HAZLETON">HAZLETON</option>
                                        <option value="STROUDSBURG">STROUDSBURG</option>
                                        <option value="GOULDSBORO">GOULDSBORO</option>
                                        <option value="BATH">BATH</option>
                                        <option value="ALBRIGHTSVILLE">ALBRIGHTSVILLE</option>
                                        <option value="THORNHURST">THORNHURST</option>
                                        <option value="TOBYHANNA">TOBYHANNA</option>
                                        <option value="GOULDSBORO">GOULDSBORO</option>
                                        <option value="DINGMANS FERRY">DINGMANS FERRY</option>
                                        <option value="WHITE HAVEN">WHITE HAVEN</option>
                                        <option value="ANALOMINK">ANALOMINK</option>
                                        <option value="NORTHAMPTON">NORTHAMPTON</option>
                                        <option value="WHITE HAVEN">WHITE HAVEN</option>
                                        <option value="CLIFTON TOWNSHIP">CLIFTON TOWNSHIP</option>
                                        <option value="LAKE HARMONY">LAKE HARMONY</option>
                                        <option value="POCONO PINES">POCONO PINES</option>
                                        <option value="LEHIGHTON">LEHIGHTON</option>
                                        <option value="BUCK HILL FALLS">BUCK HILL FALLS</option>
                                        <option value="SWEET VALLEY">SWEET VALLEY</option>
                                        <option value="ROSETO">ROSETO</option>
                                        <option value="KUNKLETOWN">KUNKLETOWN</option>
                                        <option value="TANNERSVILLE">TANNERSVILLE</option>
                                        <option value="SCOTRUN">SCOTRUN</option>
                                        <option value="MOUNTAIN TOP">MOUNTAIN TOP</option>
                                        <option value="GILBERT">GILBERT</option>
                                        <option value="BARTONSVILLE">BARTONSVILLE</option>
                                        <option value="SHAWNEE ON DELAWARE">SHAWNEE ON DELAWARE</option>
                                        <option value="FREELAND">FREELAND</option>
                                        <option value="EFFORT">EFFORT</option>
                                        <option value="DRUMS">DRUMS</option>
                                        <option value="GREENTOWN">GREENTOWN</option>
                                        <option value="BLAKESLEE">BLAKESLEE</option>
                                        <option value="JEFFERSON TOWNSHIP">JEFFERSON TOWNSHIP</option>
                                        <option value="PLYMOUTH">PLYMOUTH</option>
                                        <option value="LONG POND">LONG POND</option>
                                        <option value="HAZLETON">HAZLETON</option>
                                        <option value="WILKES BARRE">WILKES BARRE</option>
                                        <option value="HENRYVILLE">HENRYVILLE</option>
                                        <option value="HAWLEY">HAWLEY</option>
                                        <option value="BETHLEHEM">BETHLEHEM</option>
                                        <option value="CRESCO">CRESCO</option>
                                        <option value="REEDERS">REEDERS</option>
                                        <option value="LAKEVILLE">LAKEVILLE</option>
                                        <option value="TAMIMENT">TAMIMENT</option>
                                        <option value="BEAVER BROOK">BEAVER BROOK</option>
                                        <option value="PLAINS">PLAINS</option>
                                        <option value="LORDS VALLEY">LORDS VALLEY</option>
                                        <option value="BUSHKILL">BUSHKILL</option>
                                        <option value="EAST STROUDSBURG">EAST STROUDSBURG</option>
                                        <option value="NESQUEHONING">NESQUEHONING</option>
                                        <option value="MOUNTAINHOME">MOUNTAINHOME</option>
                                        <option value="SWIFTWATER">SWIFTWATER</option>
                                        <option value="UPPER MT. BETHEL">UPPER MT. BETHEL</option>
                                        <option value="NEWFOUNDLAND">NEWFOUNDLAND</option>
                                        <option value="KRESGEVILLE">KRESGEVILLE</option>
                                    </select>
                                    <span class="inl-block">
                                        <a class="btn btn-sm btn-info" href="JavaScript:void(0);" id="btn-add">Add >></a>
                                        <br>
                                        <a href="JavaScript:void(0);" id="btn-remove" class="btn btn-sm btn-danger"><< Remove</a>
                                    </span>
                                    <select multiple="multiple" class="w120 inl-block select-cities" name="cities-select-to" id="cities-select-to"></select>
                                </div>
                                <input type="hidden" id="hidden-sort" name="hidden-sort" />
                                <input type="submit" value="Search" id="city-search-btn" class="btn-success" />
                            </form>
                        </div>


                    </div>

                    <div id="zip" class="tab-pane">
                        <span>
                            <div class="inl-block" style="vertical-align:top;">
                                State:
                                <select>
                                    <option value="PA">PA</option>
                                    <option value="NJ">NJ</option>
                                    <option value="DE">DE</option>
                                </select>
                            </div>
                            <div class="inl-block">
                                House # or Street Name: <input type="text" class="w120"><button class="btn btn-sm btn-primary">Update</button><br>
                                &nbsp;&nbsp;&nbsp;And/Or<br>
                                Zip Code: <input style="margin-left:92px;" type="text" class="w120"><button class="btn btn-primary btn-sm">Update</button>
                            </div>
                        </span>
                        <button class="btn" style="margin-left:12px;">Search</button>
                    </div>

                    <div id="school" class="tab-pane">
                        State:
                        <select>
                            <option value="PA">PA</option>
                            <option value="NJ">NJ</option>
                            <option value="DE">DE</option>
                        </select>
                        <br>

                        <span class="multi-select-cities">
                            School Districts:<br>
                            <select multiple="multiple" class="w120 inl-block" name="schools-select-from" id="schools-select-from">

                                <option value="AL">School District 1</option>
                                <option value="AK">School district 2</option>
                                <option value="AZ">School District 3</option>
                                <option value="AR">School District 4</option>
                                <option value="AL">School District 5</option>
                                <option value="AK">School district 6</option>
                                <option value="AZ">School District 7</option>
                                <option value="AR">School District 8</option>

                            </select>
                            <span class="inl-block">
                                <a class="btn btn-sm btn-info" href="JavaScript:void(0);" id="btn-add-schools">Add >></a>
                                <br>
                                <a href="JavaScript:void(0);" id="btn-remove-schools" class="btn btn-sm btn-danger">Remove</a>
                            </span>
                            <select multiple="multiple" class="w120 inl-block" name="schools-select-to" id="schools-select-to"></select>
                        </span>
                        <button class="btn">Search</button>
                    </div>

                    <div id="county" class="tab-pane">
                        State:
                        <select>
                            <option value="PA">PA</option>
                            <option value="NJ">NJ</option>
                            <option value="DE">DE</option>
                        </select>
                        <br>
                        <span style="display:inline-block;margin-left:18px;"></span>County:<br>
                        <select>
                            <option value="-1">All</option>
                            <option value="bucks">Bucks</option>
                            <option value="montgomery">Montgomery</option>
                            <option value="delaware">Delaware</option>
                        </select><br>
                        <span class="multi-select-township">
                            Township/Area/Subdivision:<br>
                            <select multiple="multiple" class="w120 inl-block" name="townships-select-from" id="townships-select-from">
                                <option value="AL">Township 1</option>
                                <option value="AL">Township 2</option>
                                <option value="AL">Township 3</option>
                                <option value="AL">Township 4</option>
                                <option value="AL">Township 5</option>
                                <option value="AL">Township 6</option>
                                <option value="AL">Township 7</option>
                            </select>
                            <span class="inl-block">
                                <a class="btn btn-sm btn-info" href="JavaScript:void(0);" id="btn-add-townships">Add >></a>
                                <br>
                                <a href="JavaScript:void(0);" id="btn-remove-townships" class="btn btn-sm btn-danger"><< Remove</a>
                            </span>
                            <select multiple="multiple" class="w120 inl-block" name="townships-select-to" id="townships-select-to"></select>
                        </span>
                        <button class="btn">Search</button>
                    </div>

                </div>

            </div>
        </div>
        <div id="overlay"></div>

        <ul class="nav nav-list" id="properties-ul">
            <li class="active primary-search-li linearbg" style="z-index:0;">
                <span class="menu-text">
                    <form class="form-search">
                        <span class="mls-search-span">
                            <input type="text" placeholder="Search by MLS #" class="nav-search-input expose" id="nav-search-input" autocomplete="off"></input><i class="icon-search" id="mls-search-icon"></i>
                            <span class="advanced-search-link" id="advanced-search-link">Advanced Search</span>

                        </span>
                        <div id="moreMenuOptions">



                        </div>
                    </form>
                </span>
            </li>
            <li style="text-align:center;" class="linearbg expose" id="additional-li">ADD ADDITIONAL CRITERIA:</li>

            <li class="expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-dollar"></i>
                    <span class="menu-text"> Price  <span id="price-menu-prop" class="prop-text"></span><span class="x-icon">x</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">

                    <li>


                        <div style="text-align:center;">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-price-slider" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-price-slider" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>



                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-group"></i>
                    <span class="menu-text">   Bedrooms <span id="bedrooms-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <label for="bedroom-number">Number of Rooms:</label>

                        <div style="text-align:center;">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-rooms-slider" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-rooms-slider" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-rooms" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-male"></i>
                    <span class="menu-text">  Bathrooms <span id="bathrooms-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div style="text-align:center;">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-bath-slider" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-bath-slider" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-baths" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span class="menu-text">  Home Size  <span id="homesize-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div style="text-align:center;">
                            Sq ft:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-sq-ft" 1 readonly> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-sq-ft" readonly>
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>

                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-move"></i>
                    <span class="menu-text">  Lot Size <span id="lotsize-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li style="text-align:center;">
                        <label for="acres-div" style="padding-bottom:2px;float:left;">Acres </label>

                        <div style="text-align:center;padding-bottom:12px;" id="acres-div" name="acres-div">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-lot-size-acres" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-lot-size-acres" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-lot-size-acres" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;margin: 12px 0px 0px 48px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                        <br>
                        <span style="text-align:center;">Or</span>
                        <br>
                        <label for="lot-size-div" style="padding-bottom:2px;float:left;">Sq. Ft. </label>

                        <div style="text-align:center;padding:12px 0px 30px 0px;" id="lot-size-div" name="lot-size-div">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-lot-size" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-lot-size" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-lot-size" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;margin: 12px 0px 0px 48px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-time"></i>
                    <span class="menu-text">   Days Listed <span id="dayslisted-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div style="text-align:center;">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-days-listed" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-days-listed" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-days-listed" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-calendar"></i>
                    <span class="menu-text">   Years Old <span id="yearbuilt-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div style="text-align:center;">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-year-built" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-year-built" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-year-built" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-level-down"></i>
                    <span class="menu-text">   Price Drops <span id="pricedrops-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div style="text-align:center;">
                            From:&nbsp;
                            <!-- min -->
                            <input type="text" class="input-sm input-xs" id="min-price-drop" readonly="true"> to
                            <!-- max -->
                            <input type="text" class="input-sm input-xs" id="max-price-drop" readonly="true">
                            <br>

                            <div class="col-xs-3 col-md-2">
                                <div id="slider-range-price-drop" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-margin" aria-disabled="false" style="height: 200px;"><div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 65%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 82%;"><div class="tooltip right in" style="left: 16px; top: -6px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">82</div></div></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-building"></i>
                    <span class="menu-text">Property Types <span id="propertytypes-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div class="control-group">
                            <div class="checkbox">
                                <label>
                                    <input name="ckLand" id="ckLand" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Lot &amp; Land </span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="ckCondo" id="ckCondo" class="ace ace-checkbox-2" type="checkbox" checked>
                                    <span class="lbl"> Condo/Townhouse</span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="ckSingle" id="ckSingle" class="ace ace-checkbox-2" type="checkbox" checked>
                                    <span class="lbl"> Single Family</span>
                                </label>
                            </div>
                        </div>


                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-star"></i>
                    <span class="menu-text">   Features <span id="features-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div class="control-group">
                            <div class="checkbox">
                                <label>
                                    <input name="ckGolf" id="ckGolf" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Golf Course </span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="ckHardwood" id="ckHardwood" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Hardwood</span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="ckPatio" id="ckPatio" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Patio</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="ckGated" id="ckGated" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Gated Community </span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="ckPool" id="ckPool" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Pool</span>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="ckFireplace" id="ckFireplace" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Fireplace </span>
                                </label>
                            </div>
                        </div>

                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-legal"></i>
                    <span class="menu-text"> Foreclosures <span id="foreclosures-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div class="control-group">

                            <div class="foreclosure-radio">
                                <label>
                                    <input name="form-field-radio" id="rad-non-foreclosure" value="but2" type="radio" class="ace" checked>
                                    <span class="lbl"> Non-foreclosures</span>
                                </label>
                            </div>

                            <div class="checkbox push-left">
                                <label>
                                    <input name="ckExcludeForeclosures" id="ckExcludeForeclosures" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Exclude foreclosure related</span>
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="foreclosure-radio">
                                <label>
                                    <input name="form-field-radio" id="rad-foreclosure" value="but1" type="radio" class="ace">
                                    <span class="lbl"> Foreclosures</span>
                                </label>
                            </div>

                            <div class="checkbox push-left">
                                <label>
                                    <input name="ckForeclosure" id="ckForeclosure" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Pre-foreclosure </span>
                                </label>
                            </div>

                            <div class="checkbox push-left">
                                <label>
                                    <input name="ckBankOwned" id="ckBankOwned" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Only lender/bank owned (REO)</span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-road"></i>
                    <span class="menu-text">   Garages <span id="garages-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li style="padding-left: 42px;">
                        <input type="checkbox" value="garage" id="ckGarages" />
                        <label for="ckGarages" style="padding-bottom:2px;">Attached Garages Only </label>

                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-info-sign"></i>
                    <span class="menu-text">  Status <span id="status-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div class="control-group">
                            <div class="checkbox">
                                <label>
                                    <input name="ckActive" id="ckActive" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Active </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="ckSold" id="ckSold" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Sold </span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="ckContract" id="ckContract" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Under Contract </span>
                                </label>
                            </div>
                        </div>


                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-camera"></i>
                    <span class="menu-text">   Photos <span id="photos-menu-prop" class="prop-text"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div class="control-group">
                            <div class="checkbox">
                                <label>
                                    <input name="ckPhotos" id="ckPhotos" class="ace ace-checkbox-2" type="checkbox">
                                    <span class="lbl"> Only include properties that have photos</span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="linearbg expose">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-signin"></i>
                    <span class="menu-text">   Open Houses <span id="openhouses-menu-prop" class="prop-text" style="padding-left:0px;"></span><span class="x-icon">X</span></span>

                    <b class="arrow icon-angle-right"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <div class="push-left">
                            Has Open House: <input type="checkbox" />
                        </div>
                    </li>
                </ul>
            </li>
            <li style="height:46px;text-align:center;" class="linearbg expose">
                <a href="#" style="line-height:40px;min-height:44px;">
                    <span class="menu-text">
                        <button class="btn btn-sm btn-primary">
                            <i class="icon-reply bigger-110"></i>

                            <span class="bigger-110 no-text-shadow black-text">Reset</span>
                        </button>
                    </span>
                </a>
            </li>

        </ul><!-- /.nav-list -->
    </div>
    

    <div class="tab-pane @if (Model != null) { <text>active </text> }" id="results-tab">
        <!-- all results go in here -->
        <div class="viewing-count linearbg">
            <span id="viewing-span">Viewing: </span><span id="min-view-count">1</span> - <span id="total-view-count">
                <span id="max-view-count">3</span>
                of @if (Model != null)
                { @Model.Count();
                }
            </span>
            <!-- sorting controls -->
            <span id="sorting-control-span">
                Sort:
                <select id="sorting-select">
                    @Html.Raw(ViewBag.SortOptionList)
                </select>
            </span>

        </div>
        <div id="inner-results-container">
            @try
            {
                var count = 1;

                foreach (var item in Model)
                {

                    var imageUrls = (List<string>)ViewData[item.ListingID + "_url"];
                    var imageUrlThumbs = (List<string>)ViewData[item.ListingID + "_thumb"];
                    count += 1;
                    var displayPrice = "";
                    var sortPrice = 0;
                    
                    if (item.ListPrice.IndexOf(".") > 0)
                                {
                                    sortPrice = int.Parse(item.ListPrice.Substring(0, item.ListPrice.IndexOf(".")));
                                    displayPrice = String.Format("{0:C0}", sortPrice);
                                }
                                else if (item.ClosePrice != "") {
                                    sortPrice = int.Parse(item.ClosePrice.Substring(0, item.ClosePrice.IndexOf(".")));
                                    displayPrice = String.Format("{0:C0}", sortPrice );
                                    
                                }
                                else
                                {
                                    sortPrice = 0;
                                    displayPrice = "<span class='no-price'>Price Unknown</span>";
                                }
                   
                    <div class="results-property linearbg" title="@sortPrice-@item.Beds-@item.BathsFull-@item.LotAreaAcre-@item.NetSQFT-@item.PropertyAge"  id="@item.ListingID" data-lat="@item.Latitude" data-lng="@item.Longitude">
                        <div>
                            <div class="results-address">@item.FullStreetAddress.ToLower()</div>
                            <span class="results-city">@item.CityName.ToLower()</span><span class="results-price badge badge-primary">
                                @displayPrice
                            </span>
                        </div>
                        <div style="display:inline-block; width:274px;">
                            <div class="has-more-pics">
                                <div id="scroller-div" style="width:4000px;position:relative;">
                                    @if (imageUrls.Count < 1)
                                    {
                                        <span style="float:left;">
                                            <img src='../../Content/themes/metro/assets/img/no_image.jpg' width=120 height=120 />
                                        </span>

                                    }
                                    @for (var i = 0; i < imageUrlThumbs.Count; i++)
                                    {
                                        <span style="float:left;">
                                            <a class="fancybox" rel="@item.ListingID" href='@imageUrls[i]'>
                                                @if (item.LocaleListingStatus == "SOLD")
                                                { <img class="img-overlay" src='../../Content/themes/metro/assets/img/sold.png' width='120' height='120'> }
                                                else if (item.LocaleListingStatus == "PENDING") { 
                                                    <img class="img-overlay" src='../../Content/themes/metro/assets/img/pending.png' width='120' height='120'>  
                                                }                                                                                                          
                                                <img src='@imageUrlThumbs[i]' width=120 height=120 />
                                            </a>
                                        </span>
                                    }
                                    

                                </div>
                            </div>
                            <br>
                            @if (imageUrlThumbs.Count >= 1) { 
                            <div class="image-scroll-bg">
                                <img id="images-down" class="arrow" src="../../Content/themes/metro/assets/img/white-left-arrow.gif" /><span id="image-count" data-imgcount="@imageUrlThumbs.Count" data-distance="144" data-currentimg="1">1 of @imageUrlThumbs.Count</span>
                                <img id="images-up" class="arrow" src="../../Content/themes/metro/assets/img/white-right-arrow.gif" />
                            </div>
                            }
                            <span class="results-property-info" style="margin-top:-112px;">
                                <span class="property-spans">
                                    <span class="results-property-beds">@item.Beds BEDS</span>
                                    <table class="details-table">
                                        <tr><td class="tl"><span class="tdspanl">SQ FT.<br />@if (item.NetSQFT.Length > 0) { @String.Format(item.NetSQFT.Substring(0, item.NetSQFT.Length - 2)) } else { @String.Format("0") }</span></td><td class="tr"><span class="tdspanr">ACRES<br />@item.LotAreaAcre</span></td></tr>
                                        <tr><td class="bl"><span class="tdspanl">BATHS<br />@item.BathsFull </span></td><td class="br"><span class="tdspanr">YEARS<br />@item.PropertyAge<br /></span></td></tr>
                                    </table>
                                    <a href="#" class="badge badge-success results-detail-btn linearbg-dark" style="font-size:12px;height:18px;font-weight:bold;">Show Details</a>
                                </span>
                            </span>
                        </div>
                    </div>
                }

            }
            catch (NullReferenceException) { }
        </div>  <!--/inner-results-container-->
    </div>
</div>
</div>

				</div>

				<div class="main-content">
					<div class="page-content blue-bg">
						<div class="row">
							<div class="col-xs-12">
								<!-- MAP CONTENT BEGINS -->

								<div class="row">
									<div class="col-sm-12 blue-bg">
										<div class="map-icon-row linearbg-reverse">
											<i class="active icon-globe home-icon"></i> Map
										</div>
										<div id="listings-displayed-row" class="linearbg">
											<span class="listings-showing-on-map"> 50 listings displayed</span>
										</div>
									   <div id="map-canvas" />
									</div><!-- /span -->
								</div><!-- /row -->

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../Content/themes/metro/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../../Content/themes/metro/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='../../Content/themes/metro/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../Content/themes/metro/assets/js/bootstrap.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="../../Content/themes/metro/assets/js/jquery-ui-1.10.3.full.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/chosen.jquery.min.js"></script>

		<link rel="stylesheet" href="../../Content/themes/metro/assets/css/chosen.css" />


		<!--[if lte IE 8]>
		  <script src="../../Content/themes/metro/assets/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="../../Content/themes/metro/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/jquery.slimscroll.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/jquery.sparkline.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/flot/jquery.flot.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/flot/jquery.flot.pie.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/flot/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->

		<script src="../../Content/themes/metro/assets/js/ace-elements.min.js"></script>
		<script src="../../Content/themes/metro/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script src="../../Content/themes/metro/assets/js/search.js"></script>

        <!--fancybox -->
        <script type="text/javascript" src="../../Content/themes/metro/assets/js/jquery.fancybox.pack.js?v=2.1.5"></script>
        <script type="text/javascript" src="../../Content/themes/metro/assets/js/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="../../Content/themes/metro/assets/js/jquery.fancybox-media.js?v=1.0.6"></script>
        <script>

            RealEstate.selectedMarker;

            function addSelectedMarker(lat, lng) {
                var myLatLng = new google.maps.LatLng(lat - .003, lng);
                RealEstate.selectedMarker = new google.maps.Marker({
                    position: myLatLng,
                    optimized: false,
                    icon: "/Content/themes/metro/assets/img/map-circle.gif",
                    zIndex: -2,
                //    pixelOffset: new google.maps.Size(100, 100),
                    map: map
                });
            }

            $("#sorting-select").change();
            
        </script>
	</body>
</html>